<h2>DELETED the record below. </h2>

<h4>Landmark ID: <%=@landmark.id%>
<h4>Landmark Name: <%=@landmark.name%> </h4>
<p> Year Completed: <%=@landmark.year_completed %> </p><br>
<button> <a class="button" href="/landmarks">Show Landmark Lists HERE</a> </button>
