
<h4>Landmark: <%=@landmark.name%> </h4>
<p> Year Completed: <%=@landmark.year_completed %> </p><br>
<button> <a class="button" href="/landmarks/new">New Landmark HERE</a> </button>

<br></br>

<form method="post" action="/landmarks/<%=@landmark.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Landmark HERE">
<form>
