
<h1> Figure: <%=@figure.name%> </h1>

<% if !@figure.landmarks.empty? %>
  <label> Landmarks: </label>
  <ul>
    <%@figure.landmarks.each do |landmark|%>
      <li><%=landmark.name%></li>
      <%end%>
    </ul>
<%end%>

<% if !@figure.titles.empty? %>
  <label> Titles: </label>
  <ul>
    <%@figure.titles.each do |title|%>
      <li><%=title.name%></li>
      <%end%>
    </ul>
<%end%>

<a class="button" href="/">Go Home</a>
